<div class="card">
   <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title">{{format_date date}}</h4>
    <!-- Text -->
    <p class="card-text" style="font-size: 150%; color: rgb(252, 120, 221);"><i class="fas fa-question-circle"></i>  {{question}}</p>
    <p class="card-text" style="font-size: 150%; color: rgb(252, 120, 221);"><i class="fas fa-compass"></i>  {{answer}}</p>
    <!-- Button for delete if needed-->
    {{!-- <a href="#" class="btn btn-primary">Button</a> --}}
  </div>
</div>
