<div class="card">
   <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title">{{format_date date}}</h4>
    <!-- Text -->
    <p class="card-text">{{question}}</p>
    <p class="card-text">{{answer}}</p>
    <!-- Button for delete if needed-->
    {{!-- <a href="#" class="btn btn-primary">Button</a> --}}
  </div>
</div>
