<div class="light-font blackbar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb blackbg">
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </nav>
</div>

<h1>You ask, I decide!</h1>
{{#if isLoggedIn}}
  <a href='/api/users//magic'><img src="images/8ball.png" alt="magic 8 ball image"></img></a>
  <div>{{user.username}}</div>
{{/if}}

{{#unless isLoggedIn}}
  <a href='/magic'><img src="images/8ball.png" alt="magic 8 ball image"></img></a>
  <p>Please <a class='btn' href='/signup'>Sign Up</a> or <a class='btn' href='/signup'>Login</a></p>
{{/unless}}
