<nav aria-label="breadcrumb">
  <ol class="breadcrumb blackbg">
    <li class="breadcrumb-item"><a class="white-text" href="/">Home</a></li>
    <li class="breadcrumb-item active">
      {{#if isLoggedIn}}
      Magic
      {{/if}}
    </li>
  </ol>
</nav>
<section class="content text-center">
<h2>Ask Me a Question!</h2>
<p id="answer"></p>
<form class='question-form'>
  <label for='question'>Question:</label><br />
  <input type='text' name='question' id='question'/><br/>
<button><img src="/images/8ball.png" alt="8 ball image" id="8ball" class="image"></img></button>
</form>  </section>
<script src="/js/magic.js"></script>
