<nav aria-label="breadcrumb blackbar">
  <ol class="breadcrumb blackbg">
    <li class="breadcrumb-item"><a class="white-text" href="/">Home</a></li>
    <li class="breadcrumb-item active">
      {{#if isLoggedIn}}
      Logout
      {{/if}}
    </li>
  </ol>
</nav>

<h2>Ask Me a Question!</h2>

<form class='question-form'>
  <label for='question'>Question</label><br />
  <input type='text' name='question' id='question' action="put"/><br/>
<img src="/images/8ball.png" alt="8 ball image" action="put"></img>
</form>
<p> ANSWER GOES HERE FROM HELPERS
  {{ answer }}
  </p>