:root {
  --pink: rgb(252, 120, 221);
  --neonpink: rgb(225, 1, 173);
  
}

light-font .breadcrumb-item + .breadcrumb-item::before {
  color: var(--neonpink);
}
.light-font .breadcrumb-item.active {
  color: var(--pink);
}

.content {
  padding: 3%;
}

.breadcrumb {
  border-radius: 0%;
}

.user {
  color: var(--pink);
  font-weight: 900;
  font-size: 300%;
}

#answer {
  color: var(--pink);
  font-weight: 900;
  font-size: 300%;
}

.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url("https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000");
}

.blackbg {
  background-color: black;
}

@media screen and (max-width: 475px) {

  .image {
    width: 50%;
  }

}