:root {
  --pink: rgb(252, 120, 221);
  --neonpink: rgb(225, 1, 173);
  
}

light-font .breadcrumb-item + .breadcrumb-item::before {
  color: var(--neonpink);
}
.light-font .breadcrumb-item.active {
  color: var(--pink);
}

.navbar-brand {
  font-size: 300%;
  font-weight: bolder;
}

button {
  border: none;
  border-radius: 50%;
  background: none;
}

input {
  background: rgb(255, 191, 231);
  border-radius: 5px;
  margin-bottom: 15px;
}

.label {
  text-align: left;
}

.question-form, .signup-form, .login-form {
  margin: 25px;
}


.content {
  padding: 3%;
}

.breadcrumb {
  border-radius: 0%;
}

.user {
  color: var(--pink);
  font-weight: 900;
  font-size: 300%;
}

#answer {
  color: var(--pink);
  font-weight: 900;
  font-size: 300%;
  height: 100px;
}

.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url("https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000");
}

.blackbg {
  background-color: black;
}

@media screen and (max-width: 475px) {

  .image {
    width: 50%;
    margin: 35px;
  }
  input {
    background: rgb(255, 191, 231);
    border-radius: 5px;
    width: 50%;
  }
  .navbar-brand {
    font-size: 200%;
    font-weight: bolder;
  }


}

@media screen and (min-width: 476px) {

  .image {
    margin: 35px;
  }

  input {
    background: rgb(255, 191, 231);
    border-radius: 5px;
    width: 35%;
  }

}
