:root {
  --pink: rgb(252, 120, 221);
  --neonpink: rgb(225, 1, 173);
  
}

light-font .breadcrumb-item + .breadcrumb-item::before {
  color: var(--neonpink);
}
.light-font .breadcrumb-item.active {
  color: var(--pink);
}

.content {
  padding: 3%;
}

.breadcrumb {
  border-radius: 0%;
}

.user {
  color: var(--pink);
  font-weight: 900;
  font-size: 300%;
}

#answer {
  color: var(--pink);
  font-weight: 900;
  font-size: 300%;
}

.btn {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-logout {
  padding: 10px 28px;
  background-color: #e7e7e7;
  color: black;
}

.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url("https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000");
}

.blackbg {
  background-color: black;
}